pandas
jupyter
plotly
numpy
pytest-cov
Flask
Flask-RESTful
Flask-SQLAlchemy
Flask-Cors
Flask-Swagger
Flask-APISpec
Flask-JWT-Extended
Flask-Bcrypt
marshmallow
pytest
pytest-flask
requests
python-dotenv
gunicorn
